

.dino{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url('./img/dino.png');
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url('./img/cactus.png');
}

.game-over{
    text-align: center;
    font-family: Arial;
}

@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 0;
    background-image: url('./img/background.png');
    background-repeat: repeat-x;
    animation: slideright 1200s infinite linear;
    width: 100%;
    height: 200px;
}

html{
    overflow: hidden;
}